body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

figcaption{
  font-size:small;
  text-align: center;
} 

nav a {
  padding: 0 10px 0 10px;
  background-color:grey;
  margin-left: 75px;
  margin-right: 75px;
}

nav {
  margin: auto ;  
}

#featured-property p {
  width: 800px;
  text-align: center;
  padding: 20px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}

#details div{
  float: left;
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}